@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");

.main-page {
  padding: 2vw;
}
.main-page__header {
  text-align: center;
}

.page-title {
  font-family: "Sacramento", cursive;
  padding: 2vw;

  font-size: 5.5vw;
  text-align: left;
}

.portfolio-link a {
  text-decoration: none;
  color: white;
  background-color: rgb(81, 81, 248);
  padding: 1vw;
}

.palatte-heading {
  font-family: "Sacramento", cursive;
  font-size: 3vw;
  padding: 4vw 1vw 0vw 1vw;
}
