@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&display=swap");

* {
  background-color: rgb(235, 228, 228);
}

.main-page {
  padding: 2vw;
}
.main-page__header {
  text-align: center;
}

.page-title {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-family: "Lobster Two", cursive;
  padding: 1vw;
  font-size: 9vw;
  text-align: center;
}

.portfolio-link a {
  text-decoration: none;
  color: white;
  background-color: rgb(81, 81, 248);
  padding: 1vw;
}

.shade-division {
  margin: 3vw 0vw 3vw 0vw;
  padding: 0vw 0vw 6vw 0vw;
  border-radius: 2vw 2vw 2vw 2vw;
}

.shade-division:hover {
  box-shadow: 10px 10px 20px #7b7b7b, -7px -7px 64px #ffffff;
}

.palatte-heading {
  font-family: "Sacramento", cursive;
  font-size: 4vw;
  padding: 0vw 1vw 0vw 3vw;
  color: black;
}
